mixin dishForm
    .dish-form
        form(action="", method="post" class="dish-form-1")
            .formInput
                input(type="text", name="nameDish" required class="text-box" placeholder="Dish name")
            .formInput
                input(type="text", name="description" required class="text-box" placeholder="Description")
            .formInput
                input(type="number", name="cost" required class="text-box" placeholder="Cost")
            .formInput
                input(type="number", name="rating" min="1" max="5" required class="text-box" placeholder="Rating")
            .formInput
                input(type="file", name="image" required style="margin-bottom: 10px;" placeholder="Choose image" class="text-box")
            .formInput
                .availability
                    label(for="available" ) available&ensp;
                    input(type="radio", name="available" value="true" checked )
                .availability 
                    label(for="available" ) unavailable&ensp;
                    input(type="radio", name="available" value="false")        
            .formInput
                button(type="submit" class="form-button" ) Confirm