include table
mixin reserveForm(tables)
    form(action="", method="post")
        .formInput
            label(for="name") name : 
            input(type="text", name="name" required)
        .formInput
            label(for="phone") Phone :
            input(type="text", name="phone" required)            
        .formInput
            label(for="date") Cost :
            input(type="date", name="date" required)
        .formInput
            label(for="amountOfPeople") Amount of people :
            input(type="number", name="amountOfPeople" required)
        .tables
            each table in tables
                +table(table)
        .formInput
            button(type="submit") Confirm