mixin tableFormAdmin
    form(action="", method="post")
        .formInput
            label(for="numberTable") Number Table : 
            input(type="number", name="name" required)
        .formInput
            button(type="submit") Confirm