mixin searchForm
    .dish-form
        form(action="search", method="post" class="dish-form-1" autocomplete)
            .formInput
                input(type="text", name="nameDish" class="text-box" placeholder="Dish name")
            .formInput
                input(type="number", name="costMax" min="1" class="text-box" placeholder="costMax")
            .formInput
                input(type="number", name="costMin" min="1" class="text-box" placeholder="costMin")
            
            .formInput
                .availability
                    label(for="available" ) available&ensp;
                    input(type="radio", name="available" value="true" )
                .availability
                    label(for="available" ) unavailable&ensp;
                    input(type="radio", name="available" value="false")   
            .formInput
                select(name="order" value=null class="order")
                    optgroup(label="order by cost")
                        option(value="increaseCost") increase cost
                        option(value="decreaseCost") decrease cost
                    optgroup(label="order by rating")    
                        option(value="increaseRating") increase rating
                        option(value="decreaseRating") decrease rating             
            .formInput
                button(type="submit" class="form-button" ) Confirm