mixin tablesAdmin(table)
        button(type="button" className="buttonTable" ) 
                .formInputTick
                        label(for="occuppied")=`table:${table.numberTable}`
                        input(type="checkbox", name="occuppied" )