mixin tablesAdmin
    .formInput
            label(for="picked") available :
            input(type="radio", name="picked" ) 
    .formInput
            label(for="picked") unavailable :
            input(type="radio", name="picked" )