mixin topbar
    .header
        .logo
            h1 Team 13.
            .line
        .topbar
            ul.topbar-content
                li
                    a(href="/" class="topbar-text" ) home
                li
                    a(href="/menu" class="topbar-text" ) menu
                li    
                    a(href="/login" class="topbar-text") login
                li
                    a(href="/admin" class="topbar-text") admin
                li
                    a(href="/signup" class="topbar-text") signup