mixin topbarAdmin
    .header
        .logo
            h1 Team 13.
            .line
        .topbar
            ul.topbar-content
                li
                    a(href="/admin" class="topbar-text") home
                li
                    a(href="/admin/menu" class="topbar-text") menu
                li    
                    a(href="/reservation" class="topbar-text") reservation
                li
                    a(href="/admin/account" class="topbar-text") account
                li
                    a(href="/" class="topbar-text") logout
