mixin topbarUser(user)
    .header
        .logo
            h1 Team 13.
            .line
        .topbar
            ul.topbar-content
                li
                    a(href='/' class="topbar-text" ) home
                li
                    a(href='/menu' class="topbar-text" ) menu
                li    
                    a(href="/reserve" class="topbar-text") reservation
                li
                    a(href=`/${user.username}/user/profile` class="topbar-text") profile    
                li
                    a(href='/logout' class="topbar-text") logout