extends layout
block content
    h2=title
    hr
    ul
        li
            a(href='/admin/add') Add new dishes
        li
            a(href='/admin/edit') Edit
        li
            a(href='/admin/order') Order