extends layout

block content
    h3=title
    form(action="" method="POST")
        .form_input
            label(for="dishId") ID
            input(type="text", name="dishId" id="dishId")
            p or:
        .form_input
            label(for="dishName") Name
            input(type="text", name="dishName" id="dishName")
        .form_input
            button(type="submit", class="button_small") CONFIRM
        