extends layout
include mixins/dish
block content
  .outer_wrapper
    .dish_wrapper
      h2 Menu
        a(href="/menu") (see all):
      ul
        each dish in filteredDishes
          +dish(dish)
    .country_wrapper
      h2 Countries
        a(href="/countries") (see all):
      ul
        each country in filteredCountries 
          a(href=`/countries/${country._id}`) #{country._id}
          
