extends ../index
block append topbar
    +topbarUser(user)
block append sidebar-text
    .edit-text
        p THIS IS OUR LOGIN PAGE!
        br
        p
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, justo aliquam tristique tincidunt, sapien ipsum elementum urna, in elementum velit risus eu justo. Ut lobortis risus at dui mattis, et pellentesque diam vestibulum. Duis tortor felis, tristique non euismod at, dapibus condimentum enim. Curabitur purus nisi, elementum in lorem vitae, imperdiet fringilla mi. Sed in enim vitae augue vulputate pharetra.
block append content
  .wrap-content
    #wrap-all-account
      .wrap-account      
              
            form(action=`profile/username`, method="post")
              <i class="fas fa-user"></i>
              .form-user 
                label(for="username") Username:
                input(type="text", name="username" value=`${user.username}`)
                //- button(type="submit") edit
                //-button(type="submit" class="btn btn-secondary admin-btn" style="font-size:12px;margin-bottom: 5px") edit

            form(action=`profile/dateOfBirth`, method="post")
              .form-user  
                label(for="dateOfBirth") DateOfBirth:
                input(type="date", name="dateOfBirth" value=`${user.dateOfBirth}`)
                button(type="submit" class="btn btn-secondary admin-btn" style="font-size: 12px;margin-bottom: 5px;") edit

            form(action=`profile/phone`, method="post")
              .form-user
                label(for="phone") Phone:
                input(type="tel", name="phone" value=`${user.phone}`)
                button(type="submit" class="btn btn-secondary admin-btn" style="font-size: 12px;margin-bottom: 5px") edit
                