extends ../index
block content
    h2=title
    h2=message
    hr
    form(action="", method="POST")
        .formInput
            label(for="username") Username : 
            input(type="text", name="username" required)
        .formInput
            label(for="password") Password :
            input(type="password", name="password" required)
        .formInput
            button(type="submit") Confirm