form(action="", method="post")
        .formInput
            label(for="name") Username : 
            input(type="text", name="name" required)
        .formInput
            label(for="password") Password :
            input(type="password", name="password" required)
        .formInput
            button(type="submit") Confirm