extends ../index
block content
    p=title
    hr
    if errors
        ul
            for error in errors
                li=`${error.msg}`
    form(action="", method='post')
        .formInput
            label(for="username") Username : 
            input(type="text", name="username" required)
        .formInput 
            label(for="phone") Phone :
            input(type="tel", name="phone" required)
        .formInput
            label(for="password") Password :
            input(type="password", name="password" id="password" required)
        .formInput
            label(for="confirmPassword") Confirm Password :
            input(type="password", name="confirmPassword" id="confirmPassword" required)
        .formInput
            button(type="submit") Confirm