extends layout
include mixins/footer
include mixins/dishForm
include mixins/topbar
include mixins/topbarAdmin
include mixins/topbarUser
block wrap
  block topbar
  .body
    block body
      .sidebar
        block sidebar
        .sidebar-text
          block sidebar-text
        .content
          block content
      +footer