extends layout
include mixins/footer/footer
include mixins/dishForm
include mixins/topbar/topbar
include mixins/topbar/topbarAdmin
include mixins/topbar/topbarUser
include mixins/searchForm
block wrap
  block topbar
  .body
    block body
      .sidebar
        block sidebar
        .sidebar-text
          block sidebar-text
        .content
          block content
      +footer