extends ../index
include ../mixins/dishForm
block append topbar
    +topbarAdmin
block append body
block append content
    .wrap-content
        .in-content1
            img(src=`/images/dishes/${dish.image}`, alt="")
            +dishForm(dish)