extends ../index
include ../mixins/dish/dishAdmin
block append topbar
    +topbarAdmin
block append sidebar-text
    
    .menu-admin
        a Search
        +searchForm
        a Add Dish
        +dishForm
    
block append content
    .wrap-content
        .menu
            each dish in dishes
                 +dishAdmin(dish)  

     
