extends ../index
include ../mixins/dish/dishAdmin
block append topbar
    +topbarAdmin
block append sidebar-text
    +searchForm
    .menu-admin
        a Add Dish
        +dishForm
    
block append content
    .wrap-content
        .menu
            each dish in dishes
                 +dishAdmin(dish)  

     
