extend ../index
include ../mixins/dishAdmin
block append topbar
    +topbarAdmin
block append sidebody
    +dishForm
block append mainbody
    p body menu Admin1
    .menu
        each dish in dishes
            +dishAdmin(dish)