extends ../index
include ../mixins/dish/dishUser
block append topbar
    +topbar
block append sidebar-text
    .edit-text
        p THIS IS OUR MENU!
        br
        p
        | I&apos;m a paragraph. Click here to add your own text and edit me. It&rsquo;s easy. Just click &ldquo;Edit Text&rdquo; or double click me to add your own content and make changes to the font.
    .menu-admin
        a Search Dish    
        +searchForm
block append content
    .wrap-content
        .in-content2
            img(src="https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80", alt="")
        .menu
            each dish in dishes
                +dishUser(dish)
