mixin footer
    .footer
        .line
        .edit-text
            p
                | 500 Terry Francois Street
                br
                | &#x9;    SF , CA  94158 
                br
                | &#x9;Open everyday 2pm to 12am