mixin footer
    .footer
        .line
        .edit-text
            p
                | 8 Ton That Thuyet Street
                br
                | &#x9;    Cau Giay , Ha Noi  Viet Nam 
                br
                | &#x9;Open everyday 8am to 12pm