extends ../index
block append topbar
    +topbar
block append sidebar-text
    .edit-text
        p WELCOME!
        br
        p
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, justo aliquam tristique tincidunt, sapien ipsum elementum urna, in elementum velit risus eu justo. Ut lobortis risus at dui mattis, et pellentesque diam vestibulum. Duis tortor felis, tristique non euismod at, dapibus condimentum enim. Curabitur purus nisi, elementum in lorem vitae, imperdiet fringilla mi. Sed in enim vitae augue vulputate pharetra.